.fa {
    padding: 35px;
  }
  
  .fa:hover {
      color:black;
  }
  
  .fa-facebook {
    color: white;
  }
    
  .fa-google {
    color: white;
  }
  
  .fa-linkedin {
    color: white;
  }
  .fa-instagram {
    color: white;
  }
 
  